* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

main {
    padding-left: 4vw;
    padding-right: 4vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas com largura igual */
    gap: 20px; /* Espaçamento entre as colunas */
    padding: 20px;
}